.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #007bff;
  color: #dfefff;
  padding: 0.75rem 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header span {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.panels {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.panel {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 350px;
  min-height:200px;
  text-align: center;
}

.panel h2 {
  margin-bottom: 0.75rem;
  color: #007bff;
  font-size: 1.1rem;
}

.input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.createButton {
  background-color: #007bff;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.createButton:disabled {
  background-color: #8cbce7;
  cursor: not-allowed;
}

.joinButton {
  background-color: #28a745;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.joinButton:disabled {
  background-color: #67df83;
  cursor: not-allowed;
}

@media (max-width: 600px) {
  .header {
    font-size: 1rem;
    flex-direction: column;
    padding: 0.75rem 0.75rem;
  }

  .header span {
    font-size: 0.8rem;
  }

  .panel {
    width: 100%;
  }
}
